body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 2.5em; /* Adjusts proportionally */
    margin-bottom: 20px;
}

#uv-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__input {
    width: 50%;
    max-width: 600px;
    padding: 10px;
    font-size: 1.2em; /* Adjusts input text size */
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.desc {
    margin-top: 20px;
    font-size: 1.1em;
}
